{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "style3.css" %}">
    </head>
    <body>
       <h1>Contact Us</h1>
       <h3>YOU'RE ALWAYS WELCOME</h3>
       <a href='http://127.0.0.1:8000/'>Home</a>
       <div class='con-header'>
<form method='POST'>
 {% csrf_token %}
 <P>Book an appointment via form or Phone</P>
 <input type='text' class='fname' name='Firstname' placeholder='First-name'/><br>
 <input type='text' class='lname' name='Lastname' placeholder='Last-name'/><br>
 <input type='email' class='email' name='Email' placeholder='email'/><br>
<textarea class='Message' name="message" placeholder='Type your message'></textarea><br>

<input type='submit' value="Send" class='sender'/>
</form>
       </div>

       <footer>
        <div class='footer-header'>
            <div class='footer-sub'>
                <img src="{% static "rita-pic.jpg" %}" alt="image2" class='rita-pics'>
            </div>
            {% comment %} <div class='footer-text'>
                <p>RitaSalon</p>
            </div> {% endcomment %}
            <div id='location'></div>
            <div class='footer-txt'>
                <p>ADDRESS</p>
                <p>29 ThOMAS UDOEKONG STREET, ATAN OFFOT UYO, AKWAIBOM STATE, NIGERIA. </p>
                <h4>Phone</h4>
                <a href='tel:+2348084874608'>(+234)808|487|4608</a>
                <h4>E-mail</h4>
                <p><a href='mailto:ritaandem@gmail.com'>ritaandem@gmail.com</a></p>
                <a href='#' class='social-icons'><i class="fab fa-whatsapp"></i></a>
                <a href='#' class='social-icons'><i class="fab fa-facebook-f"></i></a>
                <a href='http://127.0.0.1:8000/about'>ABOUT US</a>
    <a href='#service'>SERVICE</a>
    <a href='#location'>LOCATION</a>
    <a href='#work'>OUR WORK</a>
    <a href='http://127.0.0.1:8000/sender'>CONTACT</a>
    <div class='date' >
        {% comment %} <span id='year'></span> {% endcomment %}
     
        {% comment %} © Rita Salon.All Rights Reserved. Made With <i class="fas fa-heart"> {% endcomment %}
        </div>
        <p id='year'>  © <span id='current-year'></span>  Rita Salon.All Rights Reserved. Made With <i class="fas fa-heart"></i>  By <a href='https://portfoilo-370i.onrender.com/'>Ukpono Andem </a> 
        
        </p>
            </div>
        
    </footer>
    
    

        
    {% comment %} <script src="{% static "scripts.js" %}"></script> {% endcomment %}
    </body>
</html>